<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Gabriel Henrique - Portal | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="~/Content/bootstrapp.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery.desoslide.css">
    <link href="~/Content/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>

<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" href="/">
                        <i class="fa fa-linode"></i> Gabriel H
                    </a>
                </div>
                <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                    <span>Seja Bem Vindo!</span>
                    <span class="mx-lg-4 mx-md-2  mx-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="~/Manage/Index">

                                <i class="fa fa-lock"></i> Conectado
                            </a>

                        }
                        else
                        {
                            <a href="~/Account/Login">

                                <i class="fa fa-id-badge"></i> Entrar
                            </a>
                        }
                    </span>

                </div>
                <div class="col-md-4 log-icons text-right">

                    <ul class="social_list1 mt-3">

                        <li>
                            <a href="#" class="facebook1 mx-2">
                                <i class="fa fa-facebook-f"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter2">
                                <i class="fa fa-twitter"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#" class="dribble3 mx-2">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pin">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header_top" id="home">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/News/Index">Notícias</a>
                        </li>


                        @*, new { @class = "YourClassHere" }))*@
                    </ul>
                    @using (Ajax.BeginForm("Index", "News", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divListNews " }))
                    {
                        <div class="form-inline my-2 my-lg-0 header-search">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar Notícias..." name="Pesquisa" required="">
                            <button class="btn btn1 my-2 my-sm-0 header-search" type="submit"><i class="fa fa-search"></i></button>
                        </div>

                    }


                </div>
            </nav>

        </div>
    </header>
    <!--//header-->
    @*header-section-starts
        <div class="h-top" id="home">
            <div class="top-header">
                <ul class="cl-effect-16 top-nag">
                    <li><a href="/" data-hover="Início">Início</a></li>
                    <li><a href="~/News/Index" data-hover="Notícias">Notícias</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/News/Index" data-hover="Conectado">Conectado</a></li>
                    }
                    else
                    {
                        <li><a href="~/Account/Login" data-hover="Aréa Exclusiva">Aréa Exclusiva</a></li>
                    }
                </ul>
                <div class="text-center">

                    <div class="search-box">
                        <div class="b-search">
                            @using (Ajax.BeginForm("Index", "News", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divListNews" }))
                            {
                                <form>
                                    <input id="Pesquisa" name="Pesquisa" type="text" value="Buscar Notícias" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                                    <input type="submit" value="">
                                </form>
                            }
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>*@
    @RenderBody()
    <hr />

    <!-- footer -->
    <div class="footer-cpy text-center">
        <div class="footer-social">
            <div class="copyrighttop">
                <ul>
                    <li class="mx-3">
                        <a class="facebook" href="#">
                            <i class="fa fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="#">
                            <i class="fa fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a class="facebook" href="#">
                            <i class="fa fa-google-plus-g"></i>
                            <span>Google+</span>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="#">
                            <i class="fa fa-pinterest-p"></i>
                            <span>Pinterest</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="w3layouts-agile-copyrightbottom">
            <p>
                © 2018 Gabriel H. All Rights Reserved | Design by
                <a href="http://gabrielh@hotmail.com/">gabrielh@hotmail.com</a>
            </p>

        </div>
    </div>

    <!-- //footer -->
    </div>
    </footer>
    <!---->
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- desoslide-JavaScript -->
    <script src="~/Content/js/jquery.desoslide.js"></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>

    <!-- requried-jsfiles-for owl -->
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo2").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script src="~/Content/js/jquery.flexisel.js"></script>
    <!-- //password-script -->
    <!--/ start-smoth-scrolling -->
    <script src="~/Content/js/move-top.js"></script>
    <script src="~/Content/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/Content/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>